/*------Mobile-phone */
* {
    margin: 0;
}

/*...............Color Palette...........*/
:root {
    --primary-color: #86e646;
    --secondary-color: #894857;
    --accent1-color: #759930;
    --accent2-color: #508374;

    --heading-font: 'sans', serif;
    --paragraph-font: 'sans', serif;

    --nav-background-color: #873936;
    --nav-link-color: #f0f0ee;
    --nav-hover-link-color: #256847;
    --nav-hover-background-color: #1111a3;
    --h4-color: rgb(7, 7, 7);
    --h2-color: #5160ec;
    --product-container-color: rgb(243, 237, 237);
}

body {
    font-family: 'roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem;
    border: 1px solid #bbb;
    padding: 0.5rem;
}
/*.................FORM HERE............*/
h1 {
	text-align: center;
}

.form fieldset {
	background-color:rgb(221, 221, 241);
	width: 0rem;
}

.form legend {
	padding-left: .1rem;
	font-size: 1.5rem;
	color: navy;
}

.form select {
	display: block;
	padding: .75rem;
	border-radius: 1rem;
}

.form input[type="radio"] {
    margin-top: 1rem;
	display: inline-table;
}

.checkbox-area {
	display: grid;
}

.radio-group {
	margin-top: 1rem;
}

.installed-date {
	margin-top: 1rem;
}

.date-input {
	width: 14.5rem;
	padding: .75rem;
	border-radius: 1rem;
}

.h4-text {
	margin-top: 1rem;
	font-size: 15px;
}

.h5-text {
	font-style: italic;
	font-size: 15px;
}

.text-area {
	display: flex;
}

.option {
	color: navy;
}

select {
	width: 16rem;
}

.input-name {
	margin-top: 1rem;
}

.input-area {
	width: 16rem;
	height: 5rem;
	text-align: center;
	border-radius: .4rem;
}

button {
	margin-top: 1rem;
	width: 16.5rem;
	padding: .75rem;
	border-radius: 1rem;
	background-color: rgb(55, 55, 233);
	font-size: 1.5rem;
	color: white;
}


/*hamburger menu styling  -----------------------*/
header {
    position: relative;
    overflow: hidden;
    background-color: var(--accent1-color);
}


header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

header .nav-bar-container {
    display: none;
    justify-content: space-evenly;
}

header a.icon {
    margin-top: 3.2rem;
    background-color: var(--accent1-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
    width: 3rem;
}
  

/*-----------------------------------------------------*/





a {
    color: rgb(231, 28, 28);
    text-decoration: none;
}

a:hover{
    color: rgb(34, 2, 34);
}

main {
    display: flex;
    grid-gap: 1rem;
}

.main-album-container {
    display: grid;
    background-color: pink;
}

.album-container{
    background-color: gray;
    display: grid;
}

caption {
    text-align: center;
}

figure {
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

img {
    height: 15rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    background-color: rgb(55, 55, 233);;
    margin-top: 1rem;
    text-align: center;
    grid-column: 5 / 1;
    height: 10vh;
    color: white;
}

span {
    font-size: 10px;
}

 /* large screen */

 @media screen and (min-width: 500px) {

/*.................FORM HERE............*/
    h1 {
    	text-align: center;
    }

    
    .form fieldset {
    	background-color:rgb(221, 221, 241);
    	width: 100vh;
    }
    
    .form legend {
    	padding-left: .1rem;
    	font-size: 1.5rem;
    	color: navy;
    }
    
    .form select {
    	display: block;
    	padding: .75rem;
    	border-radius: 1rem;
    }
    
    .form input[type="radio"] {
    	display: inline-table;
    }
    
    .checkbox-area {
    	display: grid;
    }
    
    .radio-group {
    	margin-top: 1rem;
    }
    
    .installed-date {
    	margin-top: 1rem;
    }
    
    .date-input {
    	width: 28rem;
    	padding: .75rem;
    	border-radius: 1rem;
    }
    
    .h4-text {
    	margin-top: 1rem;
    	font-size: 15px;
    }
    
    .h5-text {
    	font-style: italic;
    	font-size: 15px;
    }
    
    .text-area {
    	display: flex;
    }
    
    .option {
    	color: navy;
    }
    
    select {
    	width: 30rem;
    }
    
    .input-name {
    	margin-top: 1rem;
    }
    
    .input-area {
    	width: 30rem;
    	height: 5rem;
    	text-align: center;
    	border-radius: .4rem;
    }

	.form input[type="radio"] {
        margin-top: 1rem;
		margin-left: 1rem;
	}
    
    button {
    	margin-top: 1rem;
    	width: 30rem;
    	padding: .75rem;
    	border-radius: 1rem;
    	background-color: rgb(55, 55, 233);
    	font-size: 1.5rem;
    	color: white;
    }
    
/*............Body Here............*/
    body {
        font-family: 'roboto', sans-serif;
        width: 220vh;
    }

    header, main, footer {
        max-width: 1500px;
        margin: 1rem;
        border: 1px solid #bbb;
        padding: 1rem;
    }
    
    header {
        background-color: var(--accent1-color);
        color: white;
    }

    .nav-bar-container {
        display: flex;
        margin-left: 8dvb;
        justify-content: space-evenly;
    
    }

    img {
        height: 12rem;
    }
    
    header a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    header .nav-bar-container {
        display: flex;
        justify-content: space-evenly;
    }
    
    
    header a:hover {
        background-color: #ddd;
        color: black;
    }
    
    
    h2 {
        text-align: center;
        margin-left: 37rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
		width: 105vh;
		margin-left: 20rem;
    }

    footer {
        background-color: var(--accent1-color);
        margin-top: 1rem;
        text-align: center;
        grid-column: 5 / 1;
        height: 10vh;
        color: white;
    }
    
    span {
        font-size: 10px;
    }
    
}
/*-----------------------------------------------------*/
