
* {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-right: 0;
}

header, footer, .about-me {
    background-color: rgb(72, 72, 230);
}

body {
    border-top-color: black;
    display: grid;
    grid-template-columns: 1fr auto 8px 300px;
    width: 98vw;
    height: 100vh,
}


header {
    text-align: center;
    color: white;
    grid-column: 1 / 5;
    padding-top: 0.4rem;
}

main {
    display: flex;
}

.nav-bar-container {
    display: flex;
    background-color: rgb(36, 41, 41);
    grid-column: 1 / 5;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    padding-top: 0.3rem;
    height: 1.5rem;
}


a {
    color: white;
    text-decoration: none;
    padding: 3px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}

.left-sidebar {
    background-color: white;
    grid-column: 3 / 1;
    height: 80vh;
}

.right-sidebar {
    box-shadow: 1px;
    background-color: white;
    margin-left: 1rem;
    width: 10rem;
}

.about-me {
    color:white;
    border-radius: 0.2rem;
    text-align: center;
    padding: 0;
}

.web-resources {
    background-color: rgb(72, 72, 230);
    color:white;
    border-radius: 0.2rem;
    text-align: center;
    width: 29.3rem;
}

.about-me-container {
    display: flex;
    height: 2rem;
}

.profile-pcs {
    max-width: 100%;
    display: block;
    width:250px;
    height: 200px;
    padding-left: 8rem;
    padding-top: 2rem;
}

p {
    width: 30rem;
    padding-top: 2rem;
}

h3 {
    padding-top: 12rem;
    padding-left: 14rem;
    border-bottom: solid gray;
}

.about-nigeria {
    display: flex;
}

.nig-image, .about-nig {
    height: 7rem;
}

.nig-image {
    padding-top: 0px;
    padding-right: 15px;
    width: 18rem;
}

.nig-image-container {
    display: block;
}

caption {
    font-size: 2px;
}

li {
    display: grid;
    padding-top: 1rem;
}

.li-a {
    color: blue;
    cursor: pointer;
    width: 20rem;
}

footer {
    margin-top: 1rem;
    text-align: center;
    grid-column: 5 / 1;
    height: 10vh;
    color: white;
}

.footer-div {
    font-size: 10px;
}

.highlight {
	color: rgb(242, 242, 247);
	font-weight: 700;
	font-family: hebrew;
}