/*------Mobile-phone */
* {
    margin: 0;
}

body {
    font-family: 'roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem;
    border: 1px solid #bbb;
    padding: 0.5rem;
}

img {
    width: 15rem;
}

/*hamburger menu styling  -----------------------*/
header {
    position: relative;
    overflow: hidden;
    background-color: rgb(100, 100, 243);
}


header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

header .nav-bar-container {
    display: none;
    justify-content: space-evenly;
}

header a.icon {
    margin-top: 3.2rem;
    background: rgb(91, 91, 253);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
    width: 3rem;
}
  

/*-----------------------------------------------------*/

h2{
    margin-left: 6rem;
    text-align: center;

}

h1 {
    text-align: center;
}

div {
    max-width: 100px;
}

a {
    color: rgb(231, 28, 28);
    text-decoration: none;
}

a:hover{
    color: rgb(34, 2, 34);
}

main {
    display: flex;
    grid-gap: 1rem;
}

.main-album-container {
    display: grid;
    background-color: pink;
}

.album-container{
    background-color: gray;
    display: grid;
}

caption {
    text-align: center;
}

figure {
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

img {
    height: 15rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    background-color: rgb(100, 100, 243);
    margin-top: 1rem;
    text-align: center;
    grid-column: 5 / 1;
    height: 10vh;
    color: white;
}

span {
    font-size: 10px;
}

 /* large screen */

 @media screen and (min-width: 500px) {
    

    body {
        font-family: 'roboto', sans-serif;
        width: 220vh;
    }

    header, main, footer {
        max-width: 1500px;
        margin: 1rem;
        border: 1px solid #bbb;
        padding: 1rem;
    }
    
    header {
        background-color: rgb(100, 100, 243);
        color: white;
    }

    .nav-bar-container {
        display: flex;
        margin-left: 8dvb;
        justify-content: space-evenly;
    
    }

    img {
        height: 12rem;
    }
    
    header a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    header .nav-bar-container {
        display: flex;
        justify-content: space-evenly;
    }
    
    
    header a:hover {
        background-color: #ddd;
        color: black;
    }
    
    
    h2 {
        text-align: center;
        margin-left: 37rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-album-container {
        margin-left: 5rem;
        background-color: pink;
        display: grid;
        column-gap: 20rem;
        grid-template-columns: auto auto auto;
    }
    
    .album-container{
        display: flex;
        background-color: light rgb(250, 245, 245);
    }
    
    figure {
        text-align: center;
        display: grid;
        padding: 1rem;
        background-color: #ffffff;
    }

    footer {
        background-color: rgb(100, 100, 243);
        margin-top: 1rem;
        text-align: center;
        grid-column: 5 / 1;
        height: 10vh;
        color: white;
    }
    
    span {
        font-size: 10px;
    }
    
}
/*-----------------------------------------------------*/
