/*------Mobile-phone */
* {
    margin: 0;
}

body {
    font-family: 'roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem;
    border: 1px solid #bbb;
    padding: 0.5rem;
}
/*.................FORM HERE............*/
h1 {
    text-align: center;
	color: white;
    font-size: 1rem;
    margin: 2rem 2rem 3rem 5rem;
}

.form fieldset {
	background-color:rgb(248, 248, 250);
	width: 8rem;
}

.form legend {
    text-align: center;
    margin-bottom: 1rem;
	padding-left: .1rem;
	font-size: 1.3rem;
	color: navy;
}

.form select {
	display: block;
	padding: .75rem;
	border-radius: 1rem;
}

.form input[type="radio"] {
    margin-top: 1rem;
	display: inline-table;
}

.checkbox-area {
	display: grid;
}

.radio-group {
	margin-top: 1rem;
}

.installed-date {
	margin-top: 1rem;
}

.date-input {
	width: 14.5rem;
	padding: .75rem;
	border-radius: 1rem;
}

.h4-text {
	margin-top: 1rem;
	font-size: 15px;
}

.h5-text {
	font-style: italic;
	font-size: 15px;
}

.text-area {
	display: flex;
}

.option {
	color: navy;
}

select {
	width: 16rem;
}

.input-name {
	margin-top: 1rem;
}

.input-area {
	width: 16rem;
	height: 5rem;
	text-align: center;
	border-radius: .4rem;
}

button {
	margin-top: 1rem;
	width: 16.5rem;
	padding: .75rem;
	border-radius: 1rem;
	background-color: rgb(55, 55, 233);
	font-size: 1.5rem;
	color: white;
}


/*hamburger menu styling  -----------------------*/
header {
    position: relative;
    overflow: hidden;
    background-color: rgb(55, 55, 233);
}


header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

header .nav-bar-container {
    display: none;
    justify-content: space-evenly;
}

header a.icon {
    margin-top: 3.2rem;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

a:hover {
    color: #fff
}

.logo-img {
    width: 3rem;
    height: 4rem;
}/*-----------------------------------------------------*/





a {
    color: rgb(250, 248, 248);
    text-decoration: none;
}

a:hover{
    color: rgb(253, 253, 253);
}

main {
    display: flex;
    grid-gap: 1rem;
}

.main-album-container {
    display: grid;
    background-color: pink;
}

.album-container{
    background-color: gray;
    display: grid;
}

caption {
    text-align: center;
}

figure {
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

img {
    height: 15rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

 /*.............Cart Here.............*/

 .cart-container {
    width: 5rem;
    height: 1rem;
    margin-bottom: 1.7rem;
}

.cart-link {
    display: block;
}

.cart-quantity {
    font-size: .8rem;
    margin-left: 1rem;
    padding-bottom: 6rem;
}

.cart-icon {
    margin-right: 3rem;
    width: 2rem;
    height: 1.5rem;
}

.cart-text {
    display: none;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}/*.................................*/


footer {
    background-color: rgb(55, 55, 233);;
    margin-top: 1rem;
    text-align: center;
    grid-column: 5 / 1;
    height: 10vh;
    color: white;
    font-size: .8rem;
}

span {
    font-size: 10px;
}

 /* large screen */

 * {
    margin: 0;
}

  @media screen and (min-width: 500px) {
    /*............Body Here............*/
    body {
        font-family: 'roboto', sans-serif;
        width: 220vh;
    }


    header, main, footer {
        max-width: 1500px;
        margin: 1rem;
        border: 1px solid #bbb;
        padding: 1rem;
    }
    
    header {
        background-color: rgb(128, 0, 128);
        color: white;
    }

    .nav-bar-container {
        display: flex;
        margin-left: 8dvb;
        justify-content: space-evenly;
    
    }
    
    header .nav-bar-container {
        display: flex;
        justify-content: space-evenly;
    }
    
    
    h2 {
        text-align: center;
        margin-left: 37rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
		width: 105vh;
		margin-left: 20rem;
    }

   .logo {
        width: 3rem;
        height: 3rem;
       
    }
     /*.............Cart Here.............*/

    .cart-container {
        margin-left: 75rem;
    }
    
    .cart-link {
        display: block;
    }
    
    .cart-quantity {
        font-size: .8rem;
        margin-left: 1rem;
        padding-bottom: 6rem;
    }
    
    .cart-icon {
        margin-right: 3rem;
        width: 2rem;
        height: 1.5rem;
        color: rgb(128, 0, 128);
    }
    
    .cart-text {
        display: none;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }/*.................................*/

    .search-input {
        text-align: center;
        width: 20rem;
        margin-left: 30.5rem;
        margin-top: 1rem;
        border-radius: 1rem;
    }

    li{
        list-style: none;
    }

    a:hover {
        font-size: 1.2rem;
    }

/*.................FORM HERE............*/
    h1 {
    	text-align: center;
    }

    
    .form fieldset {
    	background-color: rgb(255, 255, 255);
    	width: 100vh;
    }
    
    .form legend {
    	padding-left: .1rem;
    	font-size: 1.5rem;
    	color: rgb(128, 0, 128);
    }
    
    .form select {
    	display: block;
    	padding: .75rem;
    	border-radius: 1rem;
    }
    
    .form input[type="radio"] {
    	display: inline-table;
    }
    
    .checkbox-area {
    	display: grid;
    }
    
    .radio-group {
    	margin-top: 1rem;
    }
    
    .installed-date {
    	margin-top: 1rem;
    }
    
    .date-input {
    	width: 28rem;
    	padding: .75rem;
    	border-radius: 1rem;
    }
    
    .h4-text {
    	margin-top: 1rem;
    	font-size: 15px;
    }
    
    .h5-text {
        margin-bottom: 6px;
    	font-style: italic;
    	font-size: 15px;
    }
    
    .text-area {
    	display: flex;
    }
    
    .option {
    	color: rgb(128, 0, 128);
    }
    
    select {
    	width: 30rem;
    }
    
    .input-name {
    	margin-top: 1rem;
    }
    
    .input-area {
    	width: 30rem;
    	height: 5rem;
    	text-align: center;
    	border-radius: .4rem;
    }

	.form input[type="radio"] {
        margin-top: 1rem;
		margin-left: 1rem;
	}

    .form input[type="checkbox"] {
        margin-right: 6px;
    }
    
    .form button {
    	margin-top: 1rem;
    	width: 30.5rem;
    	padding: .75rem;
    	border-radius: 1rem;
    	background-color: rgb(128, 0, 128);
    	font-size: 1.5rem;
    	color: white;
        
    }

    footer {
        background-color: rgb(128, 0, 128);
        margin-top: 1rem;
        text-align: center;
        grid-column: 5 / 1;
        height: 10vh;
        color: white;
    }
    
    span {
        font-size: 10px;
    }
    
}
/*---------------------------------------------