
/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
  /* hide the inputs */
  .star-rating input {
    display: none;
  }
  /* set properties of all labels */
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  /* give label a hover state */
  .star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
  }
  .star-rating label:active::before {
    transform:scale(1.1);
  }
  
  /* set shape of unselected label */
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
  /* set full star shape for checked label and those that come after it */
  .star-rating input:checked ~ label:before {
    content:'\2605';
  }
  
  @-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
  }  
  




body {
	font-family: Roboto, Arial, sans-serif;
	margin: 1rem;
}

h1 {
	font-size: 1.75rem;
	color: navy;
	border-bottom: 1px solid #bbb;
}

hr {
	margin-bottom: 40px;
}

label {
	display: block;
	font-weight: 700;
}

input[type=text], input[type=range], input[type=radio] {
	margin: 1rem;
	padding: 0.5em;
}

#alpha:focus, #fruit:focus {
	background-color: #eee;
}

#alpha:valid, #fruit:valid {
	background-color: #bed;
}
#alpha:invalid, #alpha:invalid {
	background-color: #fff0f3;
	border: 1px solid red;
}
#alpha:invalid::before {
	content: "âŒ";
}


#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}



/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}


/* Checkbox *******************************************/
input[type=checkbox] {
	margin-left: 10px;
}
/* Note the enlargement from the standard, tiny checkbox */
#task {
	width: 25px;
	height: 25px;
}

.vcentered {
	display: flex;
	align-items: center;
}

/* other */
.inline {
	display: inline;
}

.ref {
	font-size: 13px;
	margin-top: 1rem;
}