@media screen and (min-width: 500px) {

    * {
        margin: 0;
        padding: 0;
        font-family: 'roboto', sans-serif;
        box-sizing: border-box;
    }

    body {
        font-family: 'roboto', sans-serif;
    }

    header, main, footer {
        max-width: 1500px;
        margin: 1rem;
        border: 1px solid #bbb;
        padding: 1rem;
    }
    
    header {
        background-color: rgb(100, 100, 243);
        color: white;
    }

    .nav-bar-container {
        display: flex;
        margin-left: 20rem;
        justify-content: space-evenly;
    
    }

    h2 {
        text-align: center;
        margin-left: 10rem;
        
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    main {
        grid-template-columns: auto 3/1 auto;
    }

    .main-album-container {
        background-color: white;
        margin-left: 10rem;
    }
    
    .album-container{
        display: flex;
    }
    
    figure {
        text-align: center;
        display: grid;
        padding: 1rem;
        background-color: #fff;
    }
    
    img {
        width: 300px;
        height: 200px;
        border: 1px solid #bbb;
        border-radius: 5px;
    }

    footer {
        background-color: rgb(100, 100, 243);
        margin-top: 1rem;
        text-align: center;
        grid-column: 5 / 1;
        height: 10vh;
        color: white;
    }
    
    span {
        font-size: 10px;
    }
    
}